* {
    padding: 0px;
    margin: 0px;
}
.ig {
    position: absolute;
}
.btn {
    position: absolute;
    height: 90px;
    width: 60px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    top: 205px;
    cursor: pointer;
    display: none;
}
.btn2 {
    left: 940px;
}
ul {
    list-style: none;
}
#tabs {
    position: absolute;
    top: 450px;
    left: 450px
}
.tab {
    width: 15px;
    height: 15px;
    background-color: #265a88;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin-right: 10px;
    border-radius: 100%;
    cursor: pointer;
}
.lp {
    background-color: #b92c28;
}
body {
    background: #eee;
}